body::before {
    display: block;
    content: '';
    height: 60px;
}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

.my-custom-row {
    background-color: bisque;
    height: 400px;
}